[submodule "third_party/gdrcopy"]
	path = third_party/gdrcopy
	url = https://github.com/NVIDIA/gdrcopy.git
[submodule "third_party/open-gpu-kernel-modules"]
	path = third_party/open-gpu-kernel-modules
	url = https://github.com/NVIDIA/open-gpu-kernel-modules.git
